<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="../img/ponyo.jpg" alt="Ponyo" class="img-thumbnail rounded-circle" width="200px" >
            <h1 class="display-4">Kharisma Ewa</h1>
            <p class="lead">Student | Gamers</p>
        </div>
    </div>
</div>